:root{
   *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }

   body{
     background: -webkit-linear-gradient(90deg, #1b2b65,#1b2b65,#490a66,#970da0);
background: linear-gradient(90deg,#1b2b65,#490a66,#970da0);
   }
}